<div class="col-sm-6 col-sm-offset-3">
  <h1>ジャンル一覧・追加</h1>
  <%= form_for(@genre , url: admins_genres_path(@genre.id)) do |f| %>
  <table class="table">
    <tr>
      <td>ジャンル</td>
      <td>
        <div class="form-group">
          <%= f.label :name , "必須" , class: "sr-only" %>
          <%= f.text_field :name, class: "form-control" , autofocus: true, autocomplete: "ジャンル名" %>
        </div>
      </td>
      <td>
        <div class="form-group">
          <%= f.radio_button :is_effective, true %>
          <%= f.label :is_effective, "有効" %>
          <label>
            <%= f.radio_button :is_effective, false %>
            <%= f.label :is_effective, "無効" %>
          </label>
        </div>
      </td>
    </tr>
  </table>

  <div class="form-group">
    <%= f.submit '追加', class: 'btn btn-primary' %>
  </div>

  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>ジャンル</th>
        <th>状態</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
      <tr>
        <td>
          <%= genre.name %>
        </td>
        <td>
          <% if genre.is_effective? %>
          <p>有効</p>
          <% else %>
          <p>無効</p>
          <% end %>
        </td>
        <td>
          <%= link_to "編集する", edit_admins_genre_path(genre.id) , class: "btn btn-primary" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>