<div class="col-sm-6 col-sm-offset-3">
  <h2>会員の方はこちらからログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table class="table">
    <tr>
      <td>メールアドレス</td>
      <td>
        <div class="form-group">
          <%= f.label :email , class: "sr-only" %>
          <%= f.email_field :email, class: "form-control" , autocomplete: "email" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>パスワード</td>
      <td>
        <div class="form-group">
          <%= f.label :password , "パスワード" , class: "sr-only" %>
          <%= f.password_field :password, class: "form-control" , autocomplete: "password" %>
        </div>
      </td>
    </tr>
  </table>

  パスワードを忘れた方はこちら<br>

  <div class="actions">
    <%= f.submit "ログイン" , class: "btn btn-primary" %>
  </div>
  <% end %>

  <h2>登録がお済みでない方</h2>
  <%= link_to "こちら" , new_end_user_registration_path %>から新規登録を行ってください。
</div>