<!DOCTYPE html>
<html>

<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <% content_for :content do %>
  <header>

    <div class="header">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "LOGO" , root_path , class: "navbar-brand" %>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-example">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="navbar-example">
            <ul class="nav navbar-nav navbar-right">
              <% if !admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "商品一覧", admins_root_path ,class: "btn btn-default navbar-btn" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", admins_root_path ,class: "btn btn-default navbar-btn" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_admin_session_path ,class: "btn btn-default navbar-btn" %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to "商品一覧", admins_root_path ,class: "btn btn-default navbar-btn" %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", admins_end_users_path ,class: "btn btn-default navbar-btn" %>
              </li>
              <li class="nav-item">
                <%= link_to "注文履歴一覧", admins_root_path ,class: "btn btn-default navbar-btn" %>
              </li>
              <li class="nav-item">
                <%= link_to "ジャンル一覧", admins_root_path ,class: "btn btn-default navbar-btn" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path ,class: "btn btn-default navbar-btn" , method: :delete %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>

  </header>

  <div class="container">
    <div class="row">
      <div class="mt-5">
        <%= yield %>
      </div>
    </div>
  </div>

  <footer></footer>

  <% end %>
  <%= render template: "layouts/application" %>
</body>

</html>